.item {
  display: grid;
  grid-template-columns: 0.8fr 1fr 3fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  gap: 20px;
  margin: 1rem 0;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  border: 1px solid black;
  border-radius: 5px;
}

.image {
  width: 100%;
}

.quantityContainer {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.productNameContainer {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.productName {
  font-size: 1.1rem;
}

.price {
  font-size: 1.1rem;
}
