.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}

.logo {
  letter-spacing: 0.2rem;
  font-weight: bold;
  color: white;
  border: dashed 1px white;
  padding: 20px;
  border-radius: 5px;
}
