.navigation {
  display: flex;
  align-items: center;
  gap: 3rem;
  list-style: none;
  color: white;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

.link {
  padding-bottom: 0.7rem;
  cursor: pointer;
}

.link:hover,
.link:active {
  color: var(--primary-color);
}

.selected {
  border-bottom: 2px solid var(--primary-color);
}

.bump {
  animation: bump 0.3s ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
